/*event start*/
.event{
	border: 2px solid skyblue;
}
.e_title{
	background: skyblue;
}
.e_border{
	border-bottom: 2px solid skyblue;
}
/*event end*/
/*start*/
/*end*/
/*start*/
/*end*/
/*start*/
/*end*/
/*start*/
/*end*/
/*start*/
/*end*/